.myTable {
  width: 100%;
  border-collapse: collapse; /* Ensures clean cell spacing */
  background-color: green;
  border: 1px solid black;
  color: white
}

.myTable th,
.myTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.myTable thead {
  background-color: green;
  font-weight: bold;
}

.myForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: green;
  border: 1px solid black;
  color: white;
  padding: 5px;
  border-collapse: collapse;
}

.mainHeaderHome {
  width: 100%;
  border-collapse: collapse; /* Ensures clean cell spacing */
  background-color: green;
  color: white;
  border: 1px solid black;
}

.quickswap {
  color: black;
  background-color: black;
}

.quickswap button:hover {
  color: green;
  background-color: white;
}

.quickswap button a:visited {
  color: green;
  background-color: white;
}

.entry body {
  color: green;
  background-color: green;
}

.alert-primary {
  color: green;
}

.entry {
  background-color: green;
}