.myTable {
  width: 100%;
  border-collapse: collapse; /* Ensures clean cell spacing */
  background-color: crimson;
  border: 1px solid black;
}

.myTable th,
.myTable td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.myTable thead {
  background-color: crimson;
  font-weight: bold;
}

.myForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: burlywood;
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}

.mainHeaderHome {
 width: 100%;
  border-collapse: collapse; /* Ensures clean cell spacing */
  background-color: crimson;
  border: 1px solid black;
}

